.App {
  text-align: center;
}

.center{
  
  text-align: center;

}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full height for layout */
}

.main-content {
  flex-grow: 1; /* Make the content area grow to take up space */

}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  width: 100%;
  position: fixed; /* Change to fixed to stick to the bottom */
  bottom: 0; /* Stick to the bottom of the viewport */
  left: 0; /* Make sure it's aligned to the left */
  z-index: 10; /* Ensure it stays above other content */
  
}